@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "dnp-shuei-gothic-kin-std", "minion-pro";
    /* sans-serif dnp-shuei-gothic-gin-std Minion Variable Concept; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    max-width: 1900px;
    margin: 0 auto;
    background-color: #25716263;
}

/* コンタクト */
section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
}

.contact {
    width: 100%;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 120px 0 56px 0;
    font-family: "minion-pro", serif;
    font-weight: normal;
    font-size: 76px;
}

p {
    text-align: center;
    margin-bottom: 56px;
    font-size: 22px;
    line-height: 1.8;
}

@media screen and (max-width: 878px) {
    section {
        width: 100%;
        margin: 0 1% 0 1%;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin: 60px 0 24px 0;
        font-size: 60px;
    }

    p {
        text-align: center;
        margin-bottom: 24px;
        font-size: 15px;
        line-height: 1.7;
    }
}

.c-form {
    width: 1000px;
    margin: 0 auto;
}

.c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.c-form__label,
.c-form__input {
    padding: 10px;
}

.c-form__label {
    width: 90%;
}

.c-form__input {
    width: 90%;
    font-size: 16px;
    border: solid 1px #333;
    border-radius: 4px;
}

.c-form__input:focus-visible {
    outline: green auto 1px;
}

.c-form__required {
    color: #fff;
    background-color: green;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 0 0 18px;
}
textarea.c-form__input {
    height: 160px;
}
.c-form__submit {
    text-align: center;
}
.c-form__submit button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: green;
    border: solid 1px green;
    border-radius: 4px;
    padding: 5px 32px;
    transition: 0.4s;
    cursor: pointer;
}
.c-form__submit button:hover {
    color: green;
    background-color: transparent;
}

@media (min-width: 640px) {
    .c-form__item {
        flex-wrap: nowrap;
    }
    .c-form__label {
        width: 20%;
    }
    .c-form__input {
        width: 50%;
    }
}

@media screen and (max-width: 878px) {
    .c-form {
        width: 100%;
    }

    .c-form__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .c-form__label,
    .c-form__input {
        padding: 10px;
    }

    .c-form__label {
        width: 90%;
        padding-bottom: 20px;
    }

    .c-form__input {
        width: 90%;
        font-size: 12px;
    }

    textarea.c-form__input {
        height: 160px;
    }
    .c-form__submit {
        text-align: center;
    }
    .c-form__submit button {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: green;
        border: solid 1px green;
        border-radius: 4px;
        padding: 5px 32px;
        transition: 0.4s;
        cursor: pointer;
    }
    .c-form__submit button:hover {
        color: green;
        background-color: transparent;
    }
}
