@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
    font-family: "dnp-shuei-gothic-kin-std", "minion-pro";
    /* "游ゴシック体",
        YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans"; */
    /* sans-serif dnp-shuei-gothic-gin-std Minion Variable Concept; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    max-width: 1900px;
    margin: 0 auto;
    background-color: rgb(33, 52, 9);
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        45deg,
        #58ccef,
        #9844b7,
        #f2c076,
        #1b1464,
        #fff25b,
        #e17996
    ); /*グラデーションを定義*/
    background-size: 200% 200%; /*サイズを大きくひきのばす*/
    animation: bggradient 20s ease infinite;
}

/* loading */
.loading {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    background-color: white;
}

.loading_sentense {
    padding: 30px 0 100px 50px;
    font-size: 18px;
    color: black;
}

.how {
    padding-bottom: 74px;
    text-align: center;
    font-size: 36px;
    color: black;
}

.loadingcollect {
    display: flex;
    justify-content: center;
    gap: 215px;
}

.loadingcollect img {
    width: 205px;
}

.main_sentense {
    max-width: 100%;
    margin: 0 auto;
    font-size: 47px;
    line-height: 3;
    writing-mode: vertical-rl;
}

/* ヘッダー */
header {
    max-width: 100%;
    margin: 0 1% 0 1%;
}

.pc_nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle_label {
    width: 75px;
    height: 35px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle_input:checked + .toggle_label {
    background-color: #4bd865;
}

.toggle_input:checked + .toggle_label:after {
    left: 40px;
}

.toggle_button {
    position: relative;
    width: 75px;
    height: 35px;
    margin: auto;
}

.main_visual {
    margin: 180px 0 180px 0;
}

.content {
    font-size: 50px;
}

.goto_design {
    margin-top: 38px;
    font-size: 156px;
    border-bottom: solid #1b1464;
    font-family: "minion-pro", serif;
    font-weight: 500;
}

.main {
    width: 363px;
    margin: 0 auto;
    padding-bottom: 88px;
    font-size: 33px;
    line-height: 2;
}

/* About */
.fontslider {
    margin-bottom: 91px;
    font-size: 156px;
    opacity: 0.3;
}

.about_profile {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
    gap: 4%;
}

.picture {
    width: 41%;
    background-color: #1b1464;
}

.profile {
    width: 43%;
}

.profile h2 {
    margin-bottom: 45px;
    font-size: 84px;
}

.profile h3 {
    margin-bottom: 32px;
    padding-bottom: 45px;
    font-size: 46px;
    border-bottom: solid black;
}

.profile dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 120px;
}

.profile dt {
    width: 25%;
    font-size: 16px;
    line-height: 1.7;
}

.profile dd {
    width: 70%;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.7;
}

.question {
    font-size: 60px;
    line-height: 1.7;
}

/* skills */
.skills {
    display: flex;
    justify-content: center;
    margin-bottom: 585px;
}

.skills h2 {
    font-size: 100px;
    writing-mode: vertical-rl;
    padding-right: 4%;
}

.skills_section {
    width: 394px;
    padding-right: 12%;
}

.design img {
    width: 51%;
    padding: 0 21% 0 27%;
    margin-bottom: 45px;
}

.cording img {
    width: 37%;
    margin-bottom: 45px;
    padding: 0 28% 0 35%;
}

.skills_section h3 {
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 45px;
    text-align: center;
    font-size: 58px;
    border-bottom: solid white;
}

.skills_section p {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 2;
}

.tool {
    width: 64%;
    margin-left: 36%;
    padding-top: 37px;
    border-top: solid white;
    font-size: 18px;
    line-height: 1.8;
}

/* works */
.works {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 370px;
}
.works li {
    display: flex;
}

.circle {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: darkgreen;
    text-align: center;
    line-height: 115px;
    font-size: 27px;
}

.workssection {
    display: flex;
    flex-direction: column;
    margin-left: 292px;
}

.works img {
    width: 500px;
}

.worksexplain {
    font-size: 24px;
}

/* Contact */
.callout {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 156px;
    margin-bottom: 80px;
    font-size: 31px;
    letter-spacing: 0.2em;
}

.contactbutton {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: solid white;
    text-align: center;
    line-height: 320px;
    font-size: 46px;
    margin: 0 auto;
}

/* footer */
footer {
    width: 100%;
    margin: 0 1% 0 1%;
    display: flex;
    justify-content: space-between;
}

small {
    writing-mode: vertical-rl;
}

.footer nav {
    margin: 0 80px 80px 0;
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

.footer p {
    padding-bottom: 40px;
}
