@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "dnp-shuei-gothic-kin-std", "minion-pro";
}
/* ダークモードの時(入れ子で書いてOK！) */
body.dark_mode {
    h1,
    h2,
    h3,
    p,
    dl,
    dt,
    dd,
    ul,
    li {
        color: #f1f1f1;
    }
}

body.dark_mode {
    max-width: 1900px;
    margin: 0 auto;
    color: #f1f1f1;
    background-color: hsla(223, 8%, 10%, 1);
    background-image: radial-gradient(
            at 52% 69%,
            hsla(229, 54%, 8%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 92% 9%, hsla(229, 54%, 8%, 1) 0px, transparent 50%),
        radial-gradient(at 23% 86%, hsla(51, 100%, 8%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 92%, hsla(51, 100%, 8%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(344, 77%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 54% 41%, hsla(344, 77%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(239, 100%, 17%, 1) 0px, transparent 50%);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    max-width: 1900px;
    margin: 0 auto;
    color: #ffffff;
    background-image: radial-gradient(
            at 51% 97%,
            hsl(197, 59%, 56%) 0px,
            transparent 50%
        ),
        radial-gradient(at 34% 44%, hsl(343, 82%, 70%) 0px, transparent 50%),
        radial-gradient(at 2% 44%, hsl(71, 58%, 60%) 0px, transparent 50%),
        radial-gradient(
            at 10% 61%,
            hsla(314, 100%, 76%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(
            at 39% 28%,
            hsla(343, 100%, 76%, 0.79) 0px,
            transparent 50%
        ),
        radial-gradient(
            at 100% 31%,
            hsla(240, 100%, 70%, 0.61) 0px,
            transparent 50%
        ),
        radial-gradient(at 90% 54%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(
            at 61% 12%,
            hsla(189, 100%, 56%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(
            at 29% 80%,
            hsla(355, 100%, 93%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(
            at 57% 61%,
            hsla(340, 100%, 76%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(
            at 94% 96%,
            hsla(240, 100%, 70%, 0.79) 0px,
            transparent 50%
        ),
        radial-gradient(
            at 12% 17%,
            hsla(343, 100%, 76%, 1) 0px,
            transparent 50%
        );
}
/* -------------------------------------- */
/* ヘッダー */
header {
    max-width: 100%;
    margin: 0 1%;
    position: relative;
    z-index: 100;
}
/* nav */
.pc_nav {
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
    position: fixed; /*← fixedで固定 */
    width: 100%;
    height: 60px;
    padding-right: 75px;
    box-sizing: border-box;
    top: 10px;
    left: 0;
}

.pc_nav div {
    font-size: 15px;
    font-family: "minion-pro", serif;
    font-style: normal;
}

/* トグルボタン */
.toggle {
    position: relative;
    width: 90px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle span {
    position: absolute;
    text-align: center;
    font-size: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-weight: bold;
    line-height: 1;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle span:nth-of-type(1) {
    right: 8px;
    color: rgba(0, 0, 0, 0.175);
}

.toggle span:nth-of-type(2) {
    left: 11px;
    color: #fff;
    letter-spacing: 2px;
}

.toggle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    background: #e9e9eb;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.toggle:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.toggle.checked:before {
    background-image: linear-gradient(45deg, #3498db, #9b59b6);
}

.toggle.checked:after {
    left: 55px;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

/* ハンバーガーメニュー */
/* Common Css must add */
svg {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.plate {
    height: 41px;
    width: 41px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-image: url("../img/humberger-menu.png");
    background-size: cover;
}

.burger {
    filter: url(#gooeyness);
}
.x {
    transform: scale(0);
    transition: transform 400ms;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
        transform 500ms 200ms;
}
.x .line {
    stroke-width: 5.5px;
}
/* Common Css must add end */

/* First Menu CSS Only */
.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}
.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}
.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}
.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}
/* First Menu CSS Only end */

/* Second Menu CSS Only */
.plate2 .line1 {
    stroke-dasharray: 21 185.62753295898438;
    transition-delay: 0;
}
.plate2 .line2 {
    stroke-dasharray: 21 178.6514129638672;
    transition-delay: 30ms;
}
.plate2 .line3 {
    stroke-dasharray: 21 197.92425537109375;
    transition-delay: 60ms;
}
.plate2 .line4 {
    stroke-dasharray: 21 190.6597137451172;
    transition-delay: 90ms;
}
.plate2 .line5 {
    stroke-dasharray: 21 208.52874755859375;
    transition-delay: 120ms;
}
.plate2 .line6 {
    stroke-dasharray: 21 186.59703063964844;
    transition-delay: 150ms;
}
.active.plate2 .line1 {
    stroke-dasharray: 5 185.62753295898438;
    stroke-dashoffset: -155px;
}
.active.plate2 .line2 {
    stroke-dasharray: 5 178.6514129638672;
    stroke-dashoffset: -150px;
}
.active.plate2 .line3 {
    stroke-dasharray: 5 197.92425537109375;
    stroke-dashoffset: -190px;
}
.active.plate2 .line4 {
    stroke-dasharray: 5 190.6597137451172;
    stroke-dashoffset: -180px;
}
.active.plate2 .line5 {
    stroke-dasharray: 5 208.52874755859375;
    stroke-dashoffset: -160px;
}
.active.plate2 .line6 {
    stroke-dasharray: 5 186.59703063964844;
    stroke-dashoffset: -186px;
}
.active.plate2 .x {
    transition: transform 400ms 250ms;
}
/* Second Menu CSS Only */

.sp-nav {
    display: none;
}

.sp-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.sp-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sp-nav li {
    padding: 30px;
    color: aliceblue;
    font-family: "minion-pro", serif;
    font-size: 50px;
}

@media screen and (max-width: 878px) {
    .pc_nav div {
        font-size: 12px;
    }
}

/* コンタクト */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    width: 98%;
    margin: 0 auto;
    margin: 80px 0;
    padding-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
}

.contact {
    width: 100%;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 120px 0 56px 0;
    font-family: "minion-pro", serif;
    font-weight: normal;
    font-size: 76px;
}

p {
    text-align: center;
    margin-bottom: 56px;
    font-size: 22px;
    line-height: 1.8;
}

@media screen and (max-width: 878px) {
    section {
        width: 100%;
        padding: 1% 0 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin: 40px 0 24px 0;
        font-size: 60px;
    }

    p {
        text-align: center;
        margin-bottom: 24px;
        font-size: 15px;
        line-height: 1.7;
    }
}

.c-form {
    width: 100%;
    margin: 0 auto;
}

.c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.c-form__label,
.c-form__input {
    padding: 10px;
}

.c-form__label {
    width: 90%;
}

.c-form__input {
    width: 90%;
    font-size: 16px;
    border: solid 1px #333;
    border-radius: 4px;
}

.c-form__input:focus-visible {
    outline: #9b59b6 auto 1px;
}

.c-form__required {
    color: #fff;
    background-color: #9b59b6;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 0 0 18px;
}
textarea.c-form__input {
    height: 160px;
}
.c-form__submit {
    text-align: center;
}
.c-form__submit button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #9b59b6;
    border: solid 2px #9b59b6;
    border-radius: 4px;
    padding: 5px 32px;
    transition: 0.4s;
    cursor: pointer;
}
.c-form__submit button:hover {
    color: white;
    background-color: transparent;
}

@media (min-width: 640px) {
    .c-form__item {
        flex-wrap: nowrap;
    }
    .c-form__label {
        width: 20%;
    }
    .c-form__input {
        width: 50%;
    }
}

@media screen and (max-width: 878px) {
    .c-form {
        width: 100%;
    }

    .c-form__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .c-form__label,
    .c-form__input {
        padding: 10px;
    }

    .c-form__label {
        width: 90%;
        padding-bottom: 20px;
    }

    .c-form__input {
        width: 90%;
        margin-left: 2%;
        font-size: 12px;
    }

    textarea.c-form__input {
        height: 160px;
    }

    .c-form__submit button {
        font-size: 18px;
        border-radius: 4px;
        padding: 5px 32px;
        transition: 0.4s;
        cursor: pointer;
    }
}
